/* src/styles/colors.css */
:root {
    --primary-color: #ff0000; /* YouTube red */
    --secondary-color: #ffffff; /* White */
    --background-color: #282828; /* Dark gray */
    --text-color: #ffffff; /* White */
    /* Add more colors as needed */
  }
  