{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><h1>{{ user.username }}</h1></td>
            <td><p><br>{{ user.firstname }} {{ user.lastname }}</p></td>
        </tr>
        <tr>
            <td>{% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}</td>
        </tr>
    </table>
    
    {% if current_user.user_id == user.user_id %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.firstname.label }}<br>
            {{ form.firstname(size=32) }}<br>
            {% for error in form.firstname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.lastname.label }}<br>
            {{ form.lastname(size=32) }}<br>
            {% for error in form.lastname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.about_me.label }}<br>
            {{ form.about_me(size=32) }}<br>
            {% for error in form.about_me.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
    <hr>
    {% for book in published_books %}
        {% include '_book.html' %}
    {% endfor %}
{% endblock %}